<h1>Listing publishers</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @publishers.each do |publisher| %>
      <tr>
        <td><%= publisher.name %></td>
        <td><%= publisher.description %></td>
        <td><%= link_to 'Show', publisher %></td>
        <% if can? :update, publisher %>
          <td><%= link_to 'Edit', edit_publisher_path(publisher) %></td>
        <% end %>
        <% if can? :destroy, publisher %>
          <td><%= link_to 'Destroy', publisher, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if can? :create, Publisher %>
  <%= link_to 'New Publisher', new_publisher_path %>
<% end %>